@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #acabab;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555454;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7b7a7a;
}